<!DOCTYPE html>
<html lang="en" dir="ltr">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <head>
    
    <style> h1,h2 {text-align: center;}</style>

        <meta charset="utf-8">
        <title> Hello </title>
    </head>
    <body>
        <h1>Calibration Tool</h1>
        <h2>Register tool</h2>

        <div class="container">
      <h2>บันทึกข้อมูล</h2>
        <form action="qqq" method="post">
         <div class="form-group">
           <label for="userID">ID</label>
           <input type="text" class="form-control"  name="userID">
         </div>
         <div class="form-group">
           <label for="fname">Username</label>
           <input type="text" class="form-control"  name="userName">
         </div>
         <div class="form-group">
           <label for="fname">Department</label>
           <input type="text" class="form-control"  name="userDept">
         </div>
         <div class="form-group">
           <label for="fname">Positon</label>
           <input type="text" class="form-control"  name="userPos">
         </div>
         <a class="btn btn-success" href="/">กลับหน้าแรก</a>
         <button type="submit" class="pull-right btn btn-primary">บันทึก</button>
        </form>
    </div>

    </body>
</html>